html,
body {
	height: 100%;
	font-size: 17px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	width: 600px;
	&__language {
		padding-top: 15px;
	}
}

.toggle {
	&_small-screen {
		display: none;
	}
	&_full-screen {
		width: 40px;
	}
}

.form {
	padding: 0;
	width: 95%;
	padding-bottom: 10px;

	&__btn {
		margin: 0 auto;
	}
}

.field {
	margin-bottom: 10px;
	label,
	input,
	textarea {
		display: inline-block;
	}

	&_half-width {
		box-sizing: border-box;
		display: inline-block;
		width: 282px;
		&:first-child {
			margin-right: 1px;
		}
		label {
			height: 100%;
			width: 80px;
		}
		input {
			height: 40px;
			width: 69%;
		}
	}

	&_full-width {
		display: block;
		width: 100%;
		label {
			width: 80px;
		}
		input {
			height: 30px;
			width: 85%;
		}

		textarea {
			box-sizing: border-box;
			width: 488.5px;
		}
	}
}


.btn {
	background-color: rgb(182,193,220);
	display: block;
	height: 30px;
	box-shadow: 1px 1px 0 0;

	&_full-screen {
		width: 60px;
	}
}